* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #b0b0b0;
    background-color: #1a1a1a;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}